html{
	background-color: rgb(30, 180, 236);
	color: black;
	text-align: center;
}

.button {
	font-family: Tahoma, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: white;
	position: relative;
	width: 300px;
	height: 70px;
	margin-left: 20px;
	/*padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;*/
	border-radius: 20px;
	background-color: rgb(0, 96, 192);
	border: 1px groove grey;
	box-shadow: 0 4px grey;
	top: 220px;
}

.button:hover{
	cursor: pointer;
	position: relative;
	background-color: rgb(1, 2, 184);
}

.button:active{
	box-shadow: 0 3px grey;
	transform: translateY(3px);
}

#button_teste {
	text-align: center;
	top: 10px;
}

footer{
	color: white;
	position: fixed;
	left: 0px;
	bottom:0px;
	text-align: left;
	background-color: rgb(30, 180, 236);
}

.img_fix_top{
	position: fixed;
	left:-25px;
	top:0px;
}

h1 {
	font-family: Tahoma, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: white;
}

label {
	text-align: left;
	display: block;
	left: 170px;
}

.pergunta {
	text-align: left;
	position: relative;
	font-family: Tahoma, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: white;
}

.resposta {
	position: relative;
	text-align: left;
	left: 220px;
	font-family: Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
